<div class="container">

	<!-- Main Panel -->
	<div class="row" id="main-panel">
		<!-- Side Bar -->
		<div class="col-md-2">
			<div class="row"><h5>Quick Filters:</h5></div>
			<div class="row">
				<ul class="nav nav-stacked" id="filters">
					<li role="presentation">
						<h4><span class="label label-primary">Hot Drinks</span></h4>
					</li>
					<li role="presentation">
						<h4><span class="label label-primary">Cold Drinks</span></h4>
					</li>
					<li role="presentation">
						<h4><span class="label label-primary">Pastry</span></h4>
					</li>
					<li role="presentation">
						<h4><span class="label label-primary">Last Edited</span></h4>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-10">
			<!-- Menu Bar -->
			<div class="row">
				<div class="col-md-9">
					<div class="btn-group btn-group" role="group" aria-label="options-group">
  						<div class="btn btn-default"><a href="#/products/new">Add</a></div>
  						<div class="btn btn-default">Remove</div>
  						<div class="btn btn-default">Edit</div>
					</div>
				</div>
				<div class="col-md-3">
					<form class="form-inline" role="form">
						<div class="form-group has-feedback">
							<label class="control-label" for="search"></label>
							<input type="text" class="form-control" id="search" placeholder="Search">
							<span class="glyphicon glyphicon-search form-control-feedback"></span>
						</div>
					</form>
				</div>
			</div>
			<div class="row">&nbsp;</div>
			<!-- Product List -->
			<div class="row list-group">
				<div class="list-group-item">
				  	<div class="row" >
						<div class="col-md-1">
						  	<a href="">
						  		<img class="media-object product-image" src="/imgs/black_coffee.jpg" width="64px"></img>
						  	</a>
						</div>
				  		<div class="col-md-7">
					    	<h4 class="list-group-item-heading">Black Coffee</h4>
					    	<p class="list-group-item-text">
					    		<ul class="list-inline" >
					    			<li><span class="label label-default">P: R$ 2,50</span></li>
					    			<li><span class="label label-default">M: R$ 3,50</span></li>
					    			<li><span class="label label-default">G: R$ 4,50</span></li>
					    		</ul>
					    	</p>
						</div>
					</div>
				</div>
				<div class="list-group-item">
					<div class="row" >
						<div class="col-md-1">
						  	<a href="">
						  		<img class="media-object product-image" src="./imgs/white_coffee.jpg" width="64px"></img>
						  	</a>
						</div>
				  		<div class="col-md-7">
					    	<h4 class="list-group-item-heading">White Coffee</h4>
					    	<p class="list-group-item-text">
					    		<ul class="list-inline" >
					    			<li><span class="label label-default">P: R$ 2,50</span></li>
					    			<li><span class="label label-default">M: R$ 3,50</span></li>
					    			<li><span class="label label-default">G: R$ 4,50</span></li>
					    		</ul>
					    	</p>
						</div>
					</div>
				</div>
				<div class="list-group-item">
					<div class="row" >
						<div class="col-md-1">
						  	<a href="">
						  		<img class="media-object product-image" src="/imgs/moccacino.jpg" width="64px"></img>
						  	</a>
						</div>
				  		<div class="col-md-7">
					    	<h4 class="list-group-item-heading">Mocaccino</h4>
					    	<p class="list-group-item-text">
					    		<ul class="list-inline" >
					    			<li><span class="label label-default">P: R$ 2,50</span></li>
					    			<li><span class="label label-default">M: R$ 3,50</span></li>
					    			<li><span class="label label-default">G: R$ 4,50</span></li>
					    		</ul>
					    	</p>
						</div>
					</div>
				</div>
				<div class="list-group-item">
					<div class="row" >
						<div class="col-md-1">
						  	<a href="">
						  		<img class="media-object product-image" src="/imgs/hot_chocolate.jpg" width="64px"></img>
						  	</a>
						</div>
				  		<div class="col-md-7">
					    	<h4 class="list-group-item-heading">Hot Chocolate</h4>
					    	<p class="list-group-item-text">
					    		<ul class="list-inline" >
					    			<li><span class="label label-default">P: R$ 2,50</span></li>
					    			<li><span class="label label-default">M: R$ 3,50</span></li>
					    			<li><span class="label label-default">G: R$ 4,50</span></li>
					    		</ul>
					    	</p>
						</div>
					</div>
				</div>
			</div>
    	</div>
	</div> <!-- End Main Panel -->
</div>
